In [0]:
create database dml_joins

In [0]:
use dml_joins

In [0]:
create table dml_joins.people (id int, name string, age int, city string)

In [0]:
insert into dml_joins.people values (001, 'Aman', '21', 'UP');
insert into dml_joins.people values (002, 'Bhavesh', '22', 'MP');
insert into dml_joins.people values (003, 'Chetan', '23', 'AP');
insert into dml_joins.people values (004, 'Dhruv', '24', 'TN');
insert into dml_joins.people values (005, 'Esha', '25', 'KA');
insert into dml_joins.people values (006, 'Gaurav', '27', 'MP')

In [0]:
select * from dml_joins.people

In [0]:
-- DDL-Data definition language: Here we will add, rename, and drop columns in the table

In [0]:
ALTER TABLE dml_joins.people ADD COLUMNS (email STRING);

In [0]:
ALTER TABLE dml_joins.people RENAME COLUMN city TO state

In [0]:
ALTER TABLE dml_joins.people DROP COLUMN age;

In [0]:
select * from dml_joins.people

In [0]:
ALTER TABLE dml_joins.people ADD COLUMNS (age INT)

In [0]:
--DML: Data manipulation language: Here we will insert, update, and delete rows in the table

In [0]:
UPDATE dml_joins.people
SET email = CASE
    WHEN id = 1 THEN 'aman@example.com'
    WHEN id = 2 THEN 'bhavesh@example.com'
    WHEN id = 3 THEN 'chetan@example.com'
    WHEN id = 4 THEN 'dhruv@example.com'
    WHEN id = 5 THEN 'esha@example.com'
    WHEN id = 6 THEN 'gaurav@example.com'
END

In [0]:
INSERT INTO dml_joins.people (id, name, age, state, email) 
VALUES (007, 'Fiona', 26, 'KA', 'fiona@example.com');

In [0]:
UPDATE dml_joins.people
SET age = CASE
    WHEN id = 1 THEN 21
    WHEN id = 2 THEN 22
    WHEN id = 3 THEN 23
    WHEN id = 4 THEN 24
    WHEN id = 5 THEN 25
    WHEN id = 6 THEN 27
END;

In [0]:
DELETE FROM dml_joins.people
WHERE id = 6;

In [0]:
--DQL: Data query language we are having select in this

In [0]:
SELECT * FROM dml_joins.people WHERE state = 'MP';

In [0]:
SELECT * FROM dml_joins.people ORDER BY age DESC;

In [0]:
SELECT state, COUNT(*) as num_people
FROM dml_joins.people
GROUP BY state;

In [0]:
SELECT 
    SUM(age) AS total_age,
    AVG(age) AS average_age,
    MIN(age) AS minimum_age,
    MAX(age) AS maximum_age
FROM dml_joins.people;

In [0]:
--TCl: Transaction control language are used to mangage transactions
--Here we will commit and rollback the changes and savepoint

In [0]:
--BEGIN
UPDATE dml_joins.people SET age = 28 WHERE id = 1
--commit;
--in databricks sql it will commit automatically

In [0]:
select * from dml_joins.people